<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade"
        data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active"
                style="background-image: url('https://cdn1.epicgames.com/salesEvent/salesEvent/amoguslandscape_2560x1440-3fac17e8bb45d81ec9b2c24655758075');">
                <div class="carousel-container">
                    <div class="container">
                        <h2
                            class="animate__animated animate__bounce">Bienvenido</h2>
                        <p class="animate__animated animate__bounce">Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce"
                            mat-flat-button color="warn">Ver más</button>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item"
                style="background-image: url('https://cdn1.epicgames.com/salesEvent/salesEvent/amoguslandscape_2560x1440-3fac17e8bb45d81ec9b2c24655758075');">
                <div class="carousel-container">
                    <div class="container">
                        <h2
                            class="animate__animated animate__bounce">Compra en
                            linea</h2>
                        <p class="animate__animated animate__bounce">Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce"
                            mat-flat-button color="warn">Ver más</button>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item"
                style="background-image: url('https://cdn1.epicgames.com/salesEvent/salesEvent/amoguslandscape_2560x1440-3fac17e8bb45d81ec9b2c24655758075');">
                <div class="carousel-container">
                    <div class="container">
                        <h2
                            class="animate__animated animate__bounce">Sigue
                            comprando</h2>
                        <p class="animate__animated animate__bounce">Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce"
                            mat-flat-button color="warn">Ver más</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones -->
        <a href="#heroCarousel" class="carousel-control-prev" role="button"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left"></span>
        </a>

        <a href="#heroCarousel" class="carousel-control-next" role="button"
            data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right"></span>
        </a>

    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Tirulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur tempora quas nisi temporibus, eligendi accusamus in
                reprehenderit! Quos assumenda distinctio veniam laboriosam.</p>
        </div>
        <div class="col-lg-6">
            <h3>Tirulo</h3>
            <p>
                Fugit praesentium sint, ipsam, libero vitae id, eius
                possimus atque consequatur sequi earum.
            </p>
        </div>
    </div>
</div>